/* Add your styles here */
body {
  display: grid;
  grid-template-columns: 200px 6fr 2fr;
  grid-template-rows: 200px auto auto;
  grid-template-areas: 
     'head   head     head'
     'izquierda main derecha'
     'footer footer   footer';
}
header {
  background-color: rgb(143, 34, 26);
  grid-area: head;
}

nav {
  background-color: rgba(221, 224, 24, 0.747);
  grid-area: izquierda;
}

article {
  background-color: rgba(74, 250, 39, 0.603);
  grid-area: main;
}

section {
  background-color: black;
  grid-area: derecha;
}

footer {
  background-color: yellow;
  grid-area: footer;
}